body {
  display: grid;
}
.app-title {
  margin-left: 20px;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.icons {
  font-size: 2em;
  margin: 10px;
}
.main-header {
  display: grid;
  justify-content: right;
  grid-template-columns: repeat(4, 1fr);
  background: #ff0000;
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  grid-column: 4;
  grid-row: 1 /span 2;
}

.fas {

}

.fa-user-secret {

}

.fa-user-secret {

}

.fa-bell {
  color: white;
}

.fa-user-tie {
  color: white;
}

.header-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background: black;
  margin: 0;
  color: white;
  font-size: 1.5em;
}
.secondary-title {
  font-size: 2em;
}

.fa-house-damage {

}

.fa-skull-crossbones {

}

.fa-mask {

}

.fa-id-card {

}

.profile-nav {

}

.user-profile{

}

.stats-button {

}

.followers-button {
  
}
